@charset "utf-8";
/* CSS Document */

/* CSS mặc định */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.personal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: bisque;
  padding: 20px;
}

.personal-picture img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.personal-info {
  margin-left: 20px;
}

.personal-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.balance {
  font-size: 18px;
}

.personal-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.personal-item {
  width: 200px;
  margin: 10px;
}

.personal-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  background-color: cyan;
  padding: 20px;
  border-radius: 15px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.personal-link i {
  margin-right: 10px;
}

.personal-link:hover {
  background-color: greenyellow;
}

/* CSS chế độ tối */
.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode .personal-header {
  background-color: #222;
}

.dark-mode .personal-link {
  background-color: #444;
}

.dark-mode .personal-link:hover {
  background-color: #666;
}
